\#*\#
.\#*
e9k-debugger
.cache/
e9k-debugger.dSYM/
libmigdb
.DS_Store
#TODO.txt#
compile_commands.json
*~
temp
profile-view
profile.json
build
system
engine9000.neo
geolith_libretro.dylib
saves
roms
build-w64
e9k-debugger.exe
wine/geolith_libretro.dll
dist
e9kd
Engine9000.app
smoketest
yamcha
smoketest-amiga
amiga-smoke-test
tests/results
test.log
elowar
releases
silents.uae
*.uae
tests/neogeo/sound/st.neo
tests/neogeo/zip/test.zip
tests/neogeo/folder/test
!tests/neogeo/neogeoz80/
!tests/neogeo/neogeoz80/build/
!tests/neogeo/neogeoz80/build/neogeoz80.neo
!tests/neogeo/neogeoz80/build/rom.elf
!tests/neogeo/neogeoz80/build/demo_driver.map
!tests/neogeo/neogeoz80/build/demo_driver.noi
!tests/neogeo/neogeoz80/build/demo_driver.z80srcmap
